nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#516D73 ;
  position: sticky;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #304159;
}

body{
  margin: 0;
  background-color: #A5B9D1;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: .8fr .5fr 10fr 1fr;
  grid-template-areas:
  "title title title"
  "header header header"
  "... main ..."
  "... footer ...";
}
main{
grid-area: main;
background-color: #C5DCF9;
padding: .5em;
}
header{
  grid-area: header;
  background-color: #A8B3E3;
}
header.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
footer{
  grid-area: footer;
  background-color:#C5DCF9;
}
nav{
  background-color: #516D73;
}
h1{
  grid-area: title;
  margin-top:0;
}
